body {
  display: block;
  background-color: beige;
}

#high-score {
  float: left;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 30px;
}

.main-wrapper {
  width: 60%;
  margin: 0 auto;
  border-bottom: 2px solid;
  border-bottom-color: gray;
}

.main-action {
  margin: 0 0 10px 0;
}

.question-answers {
  display: block;
  background-color: rgb(175, 235, 168);
  width: 60%;
  margin: 0 auto;
}

#possible-answers {
  display: block;
}

.countdown {
  float: right;
  margin-right: 20px;

}

#timer {
  width: 25px;
}

.footer {
  margin: 0 auto;
  color: gray;
}