

#high-score {
  float: left;
}

.header {
  height: 5%;
}


.main-form {
  display: block;
}

.main {
  margin: 50px;
}

.question-answers {
  display: block;
  background-color: rgb(175, 235, 168);
  width: 60%;
  margin: 0 auto;
}

#possible-answers {
  display: block;
}

.timer {
  float: right;
}